aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
boto3==1.17.62
botocore==1.20.62
certifi==2020.12.5
chardet==4.0.0
geographiclib==1.50
geopy==2.1.0
idna==2.10
jmespath==0.10.0
multidict==5.1.0
protobuf==3.15.8
PyMySQL==1.0.2
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.15.0
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
